.nav-link.no-transition-nav.bold-font.shadow.light-green:hover{
  color: #0061ff !important;
}

.nav-link.no-transition-nav.bold-font.shadow.light-green{
  color: white !important;

}

.boot-button:hover {
  color: #44caff !important;
}

.boot-button {
  color: white !important;
}

.blu-text {
  color: #003c9e;
}

.nav-bc-drop {
  background: #003c9e;
  border:none;
}

.nav-bc-drop:focus {
  outline: none;
}

.dropdown-toggle::after {
  vertical-align: middle;
}

.nav-mr-apply {
  float: right;
  margin-right: 1%;
}

div.card-block{
  padding: 20px;
}

body {
  min-height: 100%;
}

button.btn{
  background-color: #003c9e;
  font-weight: bold;
  font-size: 1em;
}

.course-btn{
  font-size: 0.75em !important;
}


.no-transition-nav {
  font-size: 1.3vw;
  -webkit-transition: none !important;
  transition: none !important;
}

.error{
  color: red;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.sm-padding{
  font-weight: bold;
}

.bold-font{
  font-weight: bold;
}

.bold-text-3 {
  font-weight: bold;
  font-size: 3vw;
}

.bold-text-2 {
  font-weight: bold;
  font-size: 2vw;
  }

.font-size-3 {
  font-size: 3vw;
}

.font-size-2 {
  font-size: 2vw;
}

.font-size-1-6 {
  font-size: 1.4em;
}

.font-size-1-5 {
  font-size: 1.2em;
}

.font-size-1-4 {
  font-size: 1.4vw;
}

.font-size-1-3 {
  font-size: 1.3vw;
}

.font-size-1-2 {
  font-size: 1.2vw;
}

.font-size-1 {
  font-size: 1vw;
}


.font-size-1-5-footer {
  font-size: 1.5vw;
}

.font-size-1-2-footer {
  font-size: 1.2vw;
  text-align: center;
}


.logo-img-margin{
  margin-left: 100px;

}

.p-width{
  width: 86%;
}

.white-letters{
  color: black;
  opacity: .9;
  font-weight: bold;
}

.black-letters{
  color: black;
}

.bold-text{
  font-weight: bold;
}

.center-text{
  text-align: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.color-dark-blue{
  background-color: #003c9e;
}

.logo-div {
  display: flex;
  width:70%;
  margin: auto;
}

.logo-image{
  height: 100%;
  width: 100%;
  margin:auto;
  margin-top: 6px;
  margin-bottom: 6px;
}

.logo-image-2 {
  display: none;
}

.about-img {
  width: 60%;
}

.curriculum-image{
  width: 60%;
}

.cirr-text {
  margin-top: 2%;
  font-size: 4vw;
  width: 55vw;
  margin-left: 20.5vw;
}

.cirr-text.left-text {
  font-size: 1.4vw;
}

.logo-text{
  margin-left: 10px;
  padding-top: 15px;
  font-size: 2vw;
  font-weight: bold;
  color: #003c9e;
}

.logo-a{
  width:80%;
}

.logo-container{
  margin-bottom: 10px;
  margin-left: 100px;
}

.jumbo-image{
  height: fit-content;
  width: 100%;
  filter: brightness(40%);
}

.header-img-container{
  position: relative;
  height: 100%;
  width: 100%;
}

.header-table{
  display: inline-grid;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}

.header-img-text{
  padding: 30px;
}

.header-text {
  position: relative;
  top: -20px;
}

.image-box{
  width: 80%;
  margin: auto;
  margin-top: -5px;
  padding-top: 30px;
  padding-bottom: 1.5%;
  background: #023c9e;
  opacity: .8;
}

.row-div {
  height: 95%;
  align-items: center;
}

.box-border{
  border: 2px white solid;
  margin-top: -20px;
  background: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  width: 30%;
  padding: 10px;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
}

.padding-after-jumbotron{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;

}

.column-mid-div {
  width: 75%;
  margin: auto;
}

.column-left-side{
  width: 20%;
  padding: 2%;
}

.column-right-side{
  width: 100%;
  padding: 2%;
  margin-left: auto;
}

.remove-bullets{
  list-style-type:square;
}

.bootcamp-p {
  text-align: left;
  padding-left: 2px;
  font-size: 1.4vw;
  margin-bottom: 1%;
}

.left-text{
  text-align: left;
  padding-left: 2px;
  font-size: 1.4vw;
  margin: auto !important;
}


.home-page-ul-header-h2 {
  font-size: 3vw;
  margin-bottom: 2%;
}


.home-page-ul{
  list-style-type: square;
  list-style-position: outside;
  margin-left: 0;
}

.home-page-li{
  word-wrap: break-word;
  text-align: left;
  padding: 5px;
  font-size: 1.4vw;
}

.home-page-li-prog{
  word-wrap: break-word;
  text-align: left;
  padding: 5px;
  font-size: 1vw;
  margin-top:10%;
}

.prog-hr-div {
  position: relative;
  margin-bottom: 5%;
}


.prog-row {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}


.column-right-side-programming{
  width: 45%;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}

.program_image{
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  width: 100%;
}

.column-left-side-programming{
  width: 45%;
  display: inline-grid;
}



.grad-row {
  position: relative;
  margin: auto;
  display: inline-grid;
  justify-content: center;
}

.column-left-side-graduate{
  width: 45%;
  float: left;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}

.column-right-side-graduate{
  width: 45%;
  display: inline-grid;
}

.graduate_image{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  float:right;
  width: 100%;
}

.home-page-ul-grad{
  list-style-type: square;
  list-style-position: outside;
  margin-left: 0;
  float: right;
}

.grad-h3 {
  top: -45%;
}

.privacy{
  font-weight: bold;
  padding-top: 40px;
  margin: auto;
  width: 80%;
}

.form-width{
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.padding-header{
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}



.select-box{
  margin-left: 2%;
}


.curriculum-hr{
  width: 90%;
  border: 1px solid lightgray;

}

.curriculum-label{
  font-weight: bold;
  font-size: 1.5em;
}

.faq-label{
  font-weight: bold;
  font-size: 1.6vw;
  text-align: center;
}

.curriculum-label-mobile {
  display: none !important;
}

.footer-margin{
  margin-top: 20px;
}

.curriculum-text{
  word-wrap: break-word;
  width: 95%;
}

.column-left{
  width: 50%;
  padding-left: 20px;
  word-wrap: break-word;
}
.column-right{
  width: 50%;
  word-wrap: break-word;
  padding-right: 20px;
}

.curriculum-h4{
  margin-left: .5em;
  font-weight: bold;
}


.half {
  float: left;
  width: 100%;
  padding: 0 1em;
  margin-bottom: 2%;
  margin-top: 2%;
  /* width: 70%;
  margin: auto;
  float: right;
  margin-right: 5em;
  height: 50%; */
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 2%;
  width: 70%;
  color: #003c9e;
  overflow: hidden;
  border: 1px lightgray solid;
  margin-left: 14vw;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;

}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: white;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;

}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;

}

.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 120vh;

}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;

}
.tab input[type=checkbox] + label::after {
  content: "+";
  color: blue;
}

.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);

}

.faq-top-margin{

  margin-top: 2%;
}

.faq-width{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.faq-ul{
  list-style-type: square;
  list-style-position: outside;
  font-size: 1.5vw;
}

.row-about{
  display: inline-grid;
  padding: 1.5vw;
  width: 100%;
  text-align: center;
}

.column-about{
  margin: auto;
}

div.column-about-name {
  margin: auto;
}

.about-title{
  font-size: 2vw;
  color: black;
}

.mission-title{
  font-size: 3vw;
}

.about-p{
  font-size: 1.2vw;
  padding-left: 20px;
  padding-right: 10px;
  margin-right: 20vw;
  margin-left: 20vw;
  text-align: left;
}

.about-us-hr{
  width: 82%;
  border: 1px solid black;
}

.about-hr-margin{
  margin-top: 3vw;
  margin-bottom: 2vw;
}

/*------------------------------ */
/* Courses */

.course-title {
  text-align: center;
  padding-top:3%;
}

.course-top-half {
  display:flex;
  margin-bottom: 4%;
}

.course-top-left {
  width:50%;
  display: flex;
}

.no-bot-margin {
  margin-bottom: 0 !important;
}

.course-top-left-swap {
  width:50%;
  margin: auto;
  display: flex;
}

.course-top-right {
  width: 50%;
  margin: auto;
}

.course-paragraph {
  font-size: 1.6vw;
  width: 65%;
  margin: auto;
  text-align: left;
}

.course-private-paragraph {
  width: 60%;
}

.course-paragraph-left {
  text-align: right;
}

.course-list {
  font-size: 1.2rem;
  padding-top: 2%;
  display: none;
}

.course-link-div {
  width:100%;
  display:flex;
  padding-bottom: 2%;
}

.course-link {
  font-size: 2vw;
  margin:auto;
}

.java-gradient {
  background: rgb(248,152,29);
  background: linear-gradient(90deg, rgba(248,152,29,1) 0%, rgba(248, 0, 0,1) 65%);
}

.fullStackBootcamp-gradient {
  background: rgb(188,202,129);
  background: linear-gradient(90deg, rgba(158,152,229,1) 0%, rgba(98, 100,150,1) 45%);
}

.bootcamp-gradient {
  background: rgb(205,78,148);
  background: linear-gradient(90deg, rgba(205,78,148,1) 0%, rgba(54,166,255,1) 100%);
}

.private-gradient {
  background: rgb(127,198,255);
  background: linear-gradient(90deg, rgba(127,198,255,1) 20%, rgba(248,152,49,1) 50%, rgba(248,0,0,1) 80%);
  background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.course-top-div{
  margin-top: 2vw;
}

.course-div{
  width: 100%;
  display: flex;
}

.course-image-div{
  width: 50%;
  display: flex;
}

.course-ul-div {
  width:90%;
  margin:auto;
  display: flex;
}

.course-double-ul-div {
  width: 50%;
  margin: auto;
}

.course-image {
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  width: auto;
}

.course-desc-div{
  width: 50%;
  padding-top: 2vw;
  margin: auto;
  font-size: 1.4rem;
}

.second-course-div{
  background: #3c7dcc ;
  padding: 2vw;
  margin-top: 2%;
}

.not-bold-text{
  font-size: 1.2rem;
  font-weight: normal;
}

.course-padding-left{

}

.course-padding-btm{
  padding-bottom: 1vw;
  text-align: center;
  color: white;
}

.course-desc-div-two{
  width: 50%;
  padding-left: 5vw;
  margin-top: 5vw;
}

.course-ul-title {
  font-size: 2.5rem;
}

.course-ul{
  padding: .5vw;
  margin-left: 2vw;
  font-size: 1.4vw;
}

.apply-now-size{
  width: fit-content;
  text-align: center;
  margin: auto;
  font-size: 1.2vw;
  margin-bottom: 1%;
}

.p-desc-width{
  width: 85%;
  text-align: justify;
}



/* Tablet Landscape (big tablet [ipad pro])*/
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}
  .column-left-side {
    display: none;
  }
  html, body{
  }

  .prog-row {
    display:inline-grid;
  }

  .bold-text-3 {
    font-size: 4vw;
  }

  .bold-text-2 {
    font-size: 3vw;
  }

  .font-size-2 {
    font-size: 4vw;
  }

  .font-size-1-5 {
    font-size: 1.7em;
  }

  .font-size-1-3 {
    font-size: 2.3vw;
  }

  .font-size-2-footer {
    font-size: 2.3vw;
  }

  .font-size-1-5-footer {
    font-size: 3vw;
  }

  .font-size-1-2-footer {
    font-size: 2vw;
  }

  .column {
    width: 30%;
  }

  .bold-text-2 {
    font-size: 3vw;
  }

  .left-text.p-width{
    width: 90;
    margin-right: auto;
    margin-left: auto;
  }

  .header-text {
    top: -5px;
  }

  .skills-paragraph {
    margin:auto;
    font-size: 2vw;
  }



  .logo-image{
    margin-left: 0px;
  }


  .logo-a{
    width:100%;
  }

  .logo-text {
    padding-top: 0;
    margin-left: 15px !important;
    font-size: 3vw;
  }


  .jumbo-image {
    height: 730px;
  }

  .image-box {
    width: 95%;
    height: auto;
    margin-top: -30px;
  }

  .skills-ul-div {
    margin: auto;
  }

  .home-page-li {
    font-size: 2vw;
  }


  .column-right-side {
    width: 100%;
    text-align: center;

  }

  .curriculum-image{
    max-width: 90%;
  }

  .prog-hr-div {
    margin-bottom: none;
  }

  .column-left-side-programming {
    display: none;
  }

  .program_image{
    display: none;
  }

  .column-right-side-programming {
    width: 70%;
    margin: auto;
  }

  .home-page-li-prog {
    margin-top: 0px;
    font-size: 2vw;
  }


  .column-right-side-graduate {
    display: none;
  }

  .home-page-ul-grad {
    float:none;
  }

  .column-left-side-graduate {
    margin: auto;
    width: 70%;
    float: none;
  }

  .graduate_image{
    display: none;
  }

  .cirr-text.left-text {
    font-size: 3vw;
    width: 75vw;
  }

  .curriculum-label {
    display: none !important;
  }

  .curriculum-label-mobile {
    display: block !important;
    font-size: 3.8vw;
  }

  .curriculum-hr {
    margin-top: 0;
  }

  .faq-label {
    font-size: 3.5vw;
  }

  .about-p{
    font-size: 3vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
  }

  .tab {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 1000px) {

  .font-size-1-5 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 800px) {

  .font-size-1-5 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-mr-apply {
    margin-right: auto;
    float:none;
  }
}


@media screen and (max-width: 530px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
  .column-left-side {
    display: none;
  }
  html, body{}

  .nav-link {
    font-size: 5vw;
  }

  .course-btn{
    font-size: 2em !important;
  }

  .bold-text-3 {
    font-size: 7vw;
  }

  .bold-text-2 {
    font-size: 6vw;
  }

  .row-div > div:nth-child(4){
    display: none;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .row-div > div:nth-child(1){
    display: none;
  }

  .row-div > div:nth-child(2){
    display: none;
  }

  .black-letters::before{}

  .logo-div {
    width:100%;
  }

  .logo-text {
    padding-top: 0;
    margin-left: 5px !important;
    font-size: 5vw;
  }

  .row-div{
    margin-right: 30px;
    margin-left: 30px;
    width: 100%;
    text-align: center;
  }

  div.column.box-border{
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
  }

  .row.row-div{
    margin-left: 0px;
  }

  #ruby-text{
    visibility: hidden;
    position: relative;
    font-size:130%;
  }

  .featured-phone-fix {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .ruby-text-2{
    position: absolute;
    display: initial !important;
    width: 70%;
    font-size: 7vw;
  }


  h5.bold-text {
    color: black;
  }

  .bold-text{
    color: #2195f3
  }

  .left-text.p-width{
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
  }

  ..bold-text{
    padding: 5px;
  }

  .column-mid-div {
    width: 100%;
  }

  label.curriculum-label{
    width: 100%;
    padding-left: 0px;
    font-size: 1em;
    padding-top: 0px;
  }

  .curriculum-h4{
    font-size: 1em;
  }

  label.curriculum-label{
    font-size: 1em;
  }

  .form-width{
    width: 100%;
  }

  .padding-header{
    margin-left: 20px;
  }

  .header-img-text.center-text.white-text{
    width: 100%;
    margin-left: 0px;
    position: absolute;
  }

  .column-right-side.center-text{
    width: 100%;
    padding: 40px;
  }

  .column-left.curriculum-text{
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .column-right.curriculum-text{
    margin-right: 5px;
    width: 100%;
  }

  .logo-image{
    margin-top: 2%;
    margin-right: auto;
    margin-bottom: 2%;
    margin-left: 5px;
  }

  .logo-image-1 {
    display: none;
  }

  .logo-image-2 {
    display: block;
  }

  .image-box{
    margin-top: 30%;
  }

  .row-div {
    height: 75%;
  }

  .skills-paragraph {
    width: 100%;
    font-size: 4vw;
  }

  .skills-ul-div {
    width: 100%;
  }

  .home-page-ul-header-h2 {
    font-size: 7vw;
  }

  .home-page-ul {
    margin-top: 20px;
  }

  .home-page-li {
    font-size: 3.7vw;
  }

  .column-right-side-programming{
    width: 100%;
    margin-left: auto;
    padding: 5px;
  }

  .program_image{
    display: none;
  }

  .column-left-side-graduate {
    width: 100%;
    margin-top: 5%;
  }

  .grad-h3 {
    top: -45%;
  }

  .grad-hr {
    margin-bottom: 5px !important;
  }

  .column-right-side-graduate{
    width: 100%;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 5px;
  }

  .graduate_image{
    display: none;
  }

  .column-right-side {
    width: 100%;
    text-align: center;
  }

  .curriculum-image{
    display:  none;
  }

  .cirr-text.left-text  {
    font-size: 4vw;
  }

  .font-size-2-footer {
    font-size: 6vw;
  }

  .font-size-1-5-footer {
    font-size: 5vw;
  }

  .font-size-1-2-footer {
    font-size: 3.5vw;
  }

  .font-size-1-4 {
    font-size:  3vw;
  }

  .footer-bold {
    font-size: 4vw !important;
  }

  .faq-width {
    width: 95%;
  }

  .faq-ul {
    font-size: 3vw;
  }

  .row-about{
    padding: 1.5vw;
  }

  .column-about{
    padding: 5px;
  }

  .about-font{
    font-size: 4vw;
    padding: 0;
    color: black;
    margin-bottom: 0px;
  }

  .about-font-name{
    font-size: 6vw;
    padding: 0;
    color: black;
    margin-bottom: 0px;
  }

  .about-p{
    font-size: 4vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
  }

  .mission-title{
    font-size: 5vw;
  }

  .about-title{
    font-size: 4vw;
    color: black;
  }

  .tab {
    position: relative;
    /* margin-bottom: 2%;
    max-width: 100%;
    color: #003c9e;
    overflow: hidden;
    border: 1px lightgray solid; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .course-list {
    display: block;
  }
  .course-top-half {
    display:none;
  }

  .course-ul-div {
    display: inline-grid;
  }

  .course-desc-div {
    width: 85%;
    text-align: center;
    /*display:none;*/
  }

  .course-desc-div-two {
    width: 85%;
    margin:auto;
    padding-left: 0;
  }

  .second-course-div {
    display: inline-grid;
    margin-bottom: 5%;
  }

  .course-double-ul-div {
    width: 100%;
  }

  .course-image-div {
    display: none;
  }

  .mobile-display-none {
    display:none;
  }

  .column-desktop {
    display: none;
  }

  .column-mobile {
    display: block !important;
  }

  .no-bot-margin {
    margin-bottom: auto;
  }

  .course-ul {
    font-size: 4vw;
  }

  .p-desc-width {
    margin:auto;
    font-size: 4vw;
  }

  .jumbo-image {
    height: 650px;
  }

  .course-private-paragraph {
    width: 90%;
  }

}


html { font-size:100%;}
