.sm-padding{

  font-weight: bold;
}

.bold-font{
  font-weight: bold;

}
.logo-img-margin{
  margin-left: 100px;
}

.logo-image{
  height: 50px;
  width: 50px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.logo-text{
  margin-left: 10px;
  padding-top: 15px;
  font-weight: bold;
  color: #003c9e;
}

.logo-container{
  margin-bottom: 10px;
  margin-left: 100px;
}

.center-text{
  text-align: center;
}

.color-dark-blue{
  background-color: #003c9e;
}
