div.card-block{
  padding: 20px;
}

button.btn{
  background-color: #003c9e;
  font-weight: bold;
  font-size: 1em;
}

.sm-padding{

  font-weight: bold;
}

.bold-font{
  font-weight: bold;

}
.logo-img-margin{
  margin-left: 100px;

}

.p-width{
  width: 86%;
}

.curriculum-image{
  width: 90%;
  height: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.logo-image{
  height: 50px;
  width: 50px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 150px;
}

.logo-text{
  margin-left: 10px;
  padding-top: 15px;
  font-weight: bold;
  color: #003c9e;
}

.logo-container{
  margin-bottom: 10px;
  margin-left: 100px;
}

.jumbo-image{
  width: 100%;
  height: 700px;
  filter: brightness(40%);
}

.header-img-container{
  position: relative;
}

.header-img-text{
  position: absolute;
  top: 20px;
  margin-left: 23%;
  padding: 30px;
}

.image-box{
  position: absolute;
  height: 350px;
  width: 1000px;
  margin-top: 30px;
  right: -17%;
  top: 80%;
  background: #023c9e;
  opacity: .8;

}

.white-letters{
  color: black;
  opacity: .9;
  font-weight: bold;
}

.black-letters{
  color: black;
}

.box-border{
  border: 2px white solid;
  margin: auto;
  background: white;
  height: 250px;
  padding: 5px;
}

.column{
  width: 20%;
  padding: 10px;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
}

.bold-text{
  font-weight: bold;
}

.center-text{
  text-align: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.color-dark-blue{
  background-color: #003c9e;
}

.padding-after-jumbotron{
  margin-top: 2%;
  margin-bottom: 2%;
}

.column-left-side{
  width: 20%;
  padding: 2%;
}

.column-right-side{
  width: 75%;
  padding: 2%;
}

.remove-bullets{
  list-style-type:square;
}

.left-text{
  text-align: left;
  padding-left: 2px;
}

.home-page-ul{
  list-style-type: square;
  list-style-position: outside;
  margin-left: 0;
}

.home-page-li{
  margin-left: 2%;
  word-wrap: break-word;
  text-align: left;
  padding: 5px;
}

.program_image{
  margin: auto;
  margin-top: 40%;
  margin-left: 5%;
  height: 45%;
  /* word-wrap: break-word; */
}

.home-page-li-programming{
  text-align: left;
  word-wrap: break-word;
  padding: 5px;
}

.column-right-side-programming{
  width: 70%;
  margin-left: 20%;
  padding-left: 10px;
  margin-bottom: 0px;
}

.graduate_image{
  height: 45%;
 margin-left: 0%;
}

.column-right-side-graduate{
  width: 70%;
  padding-right: 10px;
  margin-bottom: 0px;

}

.column-left-side-graduate{
width: 10%;
}

.column-left-side-programming{
  width: 10%;
}

.move-up{
  margin-top: -15%;
}

.home-page-li-graduate{
  text-align: left;
  word-wrap: break-word;
  padding: 5px;
}

.privacy{
  font-weight: bold;
  padding-top: 40px;
  margin: auto;
  width: 80%;
}

.form-width{
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.padding-header{
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.select-box{
  margin-left: 2%;
}


.curriculum-hr{
  width: 90%;
  border: 1px solid lightgray;

}

.curriculum-label{
  font-weight: bold;
  font-size: 1.5em;

}

.footer-margin{
  margin-top: 4em;
}

.curriculum-text{
word-wrap: break-word;
width: 95%;
}

.column-left{
  width: 50%;
  padding-left: 20px;
  word-wrap: break-word;
}
.column-right{
  width: 50%;
  word-wrap: break-word;
  padding-right: 20px;
}

.curriculum-h4{
  margin-left: .5em;
  font-weight: bold;
}


.half {
  float: left;
  width: 100%;
  padding: 0 1em;
  margin-bottom: 2%;
  margin-top: 2%;
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 2%;
  width: 100%;
  color: #003c9e;
  overflow: hidden;
  border: 1px lightgray solid;

}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;

}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: white;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;

}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;

}

.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;

}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;

}
.tab input[type=checkbox] + label::after {
  content: "+";
  color: blue;
}

.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);

}
